<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="JavaCourse.TestNG6"/>
      <class name="JavaCourse.NewTest"/>
      <class name="JavaCourse.TestNG2"/>
      <class name="JavaCourse.TestNG3"/>
      <class name="JavaCourse.TestNG4"/>
      <class name="JavaCourse.TestNG5"/>
      <class name="JavaCourse.TestNG1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
